{% extends "TimelineBundle::layout.html.twig" %}

{% block body %}
    <div class="block">
        <h1>Essayez TIGE, car ceci est une révolution</h1>
        </br>
        <h2>Préambule</h2>
        </br>
        <blockquote><p class="lead">La TIGE, ou juste TIGE, est une web application (ça veut dire qu'elle est sur les
                internets) qui
                permet
                d'aggréger les données de plusieurs grands jeux vidéos afin de fournir à l'utilisateur un panorama
                complet
                de sa vie virtuelle.
                Sur cette base, est intégré un réseau social permettant aux joueurs de troller et de flame dans la joie
                et
                la bonne humeur. Le rapprochement des entités humaines est également au programme grâce au module
                évenemeniel.
            </p>

            <footer>L'équipe TIGE <cite title="Source Title">Wikipédia</cite></footer>
        </blockquote>
        </br>
        </br>

        <h2>Liste des jeux disponibles</h2>
        </br>
        <table class="table table-condensed table-hover">
            <tr>
                <td>
                    <dl>
                        <dt>League of Legends</dt>
                        <dd>League of Legends est un jeu vidéo d'ordinateur de type arène de bataille en ligne
                            multijoueur gratuit
                            développé et édité par Riot Games</br>
                            <blockquote><footer> Wikipédia</footer></blockquote>
                        </dd>
                    </dl>
                </td>
                <td>
                    <img src="http://geekhebdo.com/wp-content/uploads/2015/07/league-of-legends-logo.jpg"
                         class="img-responsive img-rounded" alt="Responsive image">
                </td>
            </tr>
        </table>
        </br>
        <h2>Liste des jeux à venir</h2>
        </br>
        <table class="table table-condensed table-hover">
            <tr>
                <td>
                    <dl>
                        <dt>Kings of Cats</dt>
                        <dd>Kings of Cats est un jeu multijoueur type écrasage sale de chatons sur des murs à l'aide de
                            catapultes
                            <blockquote>
                                <footer>Anne-Sophie Mene <cite title="Source Title">Vogue</cite></footer>
                            </blockquote>
                        </dd>
                    </dl>
                </td>
                <td>
                    <img src="http://ctoc.consostatic.com/images/media/demande/large/000/141/857/chaton-male-tigre.jpg?1419013057"
                         class="img-responsive img-rounded" alt="Responsive image">
                </td>
            </tr>
        </table>

    </div>

{% endblock %}