{% extends "TimelineBundle::layout.html.twig" %}

{% block body %}
    <div class="block">
        <h1>Essayez TIGE, car ceci est une révolution</h1>
        </br>

        <h2>Préambule</h2>
        </br>
        <table class="table table-condensed table-hover">
            <tr>
                <td>
                    <p class="text-justify">TIGE (Together In Game Involved) est un réseau social sur le thème des jeux vidéo multi-joueurs regroupant les statistiques de vos jeux en ligne préférés tels que League of Legend, Heros of the Storm et pleins d’autres encore. Grâce à TIGE, vous pourrez comparer les résultats de vos matchs avec vos joueurs favoris et personnaliser la liste de tous les jeux et joueurs que vous souhaitez suivre. Vous pourrez également commenter les parties que vous suivez afin de partager vos impressions, de conseiller ou encore de troller vos adversaires.
                        TIGE vous propose également un module événement qui vous facilite l’organisation de rencontres entre joueurs et de partager un moment convivial « in real life » N’hésitez plus, rejoignez la communauté TIGE, et venez partager votre expérience de jeux en ligne avec tous nos joueurs.
                        TIGE (Together In Game Involved) est un réseau social sur le thème des jeux vidéo multi-joueurs regroupant les statistiques de vos jeux en ligne préférés tels que League of Legend, Heros of the Storm et pleins d’autres encore. Grâce à TIGE, vous pourrez comparer les résultats de vos matchs avec vos joueurs favoris et vos amis et personnaliser la liste de tous les jeux et joueurs que vous souhaitez suivre. Vous pourrez également commenter les parties que vous suivez afin de partager vos impressions, de conseiller ou encore de troller vos adversaires.
                        TIGE vous propose également un module événement qui vous facilite l’organisation de rencontres entre joueurs et de partager un moment convivial « in real life »
                        N’hésitez plus, rejoignez la communauté TIGE, et venez partager votre expérience de jeux en ligne avec tous les joueurs.
                    </p>
                </td>
                <td>
                <td width="450px">
                    <a href="http://localhost/TIGE/web/app_dev.php/timeline">
                        <img src="{{ absolute_url(asset('bundles/framework/images/tige.png')) }}"
                             class="img-responsive img-circle" alt="Tige">
                    </a>
                </td>
                </td>

            </tr>


        </table>
        </br>
        </br>
        <h2>Liste des jeux disponibles</h2>
        </br>
        <table class="table table-condensed table-hover">
            <tr>
                <td>
                    <h1>League of Legends <span class="label label-primary">Optimisé</span></h1>
                    </br>
                    <p>League of Legends est un jeu vidéo d'ordinateur de type arène de bataille en ligne
                        multijoueur gratuit
                        développé et édité par Riot Games</p>
                    <blockquote>
                        <footer>Riot Games <cite title="Source Title">Wikipédia</cite></footer>
                    </blockquote>
                </td>
                <td width="450px">
                    <a href="http://euw.leagueoflegends.com/fr">
                        <img src="http://geekhebdo.com/wp-content/uploads/2015/07/league-of-legends-logo.jpg"
                             class="img-responsive img-rounded" alt="League of Legends">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <h1>Heroes of the Storm <span class="label label-danger">New</span></h1> </br>
                    <p>Heroes of the Storm est un jeu vidéo de type arène de bataille en ligne multijoueur développé par
                        Blizzard Entertainment pour Windows et Mac OS X.</p>
                    <blockquote>
                        <footer>Blizzard <cite title="Source Title">Wikipédia</cite></footer>
                    </blockquote>
                </td>
                <td width="450px">
                    <a href="http://eu.battle.net/heroes/fr/">
                        <img src="http://letype.fr/wp-content/uploads/2015/02/heroes-of-the-storm1.jpg"
                             class="img-responsive img-rounded" alt="Heros of the Strom">
                    </a>
                </td>
            </tr>
        </table>
        </br>
        <h2>Liste des jeux à venir</h2>
        </br>
        <table class="table table-condensed table-hover">
            <tr>
                <td>
                    <h1>Hearthstone <span class="label label-warning">En test</span></h1> </br>
                    <p>Heroes of Warcraft est un jeu de cartes à collectionner en ligne, se déroulant dans
                        l’univers de fiction médiéval-fantastique de Warcraft, développé et édité par la société
                        Blizzard Entertainment.</p>
                    <blockquote>
                        <footer>Blizzard <cite title="Source Title">Wikipédia</cite></footer>
                    </blockquote>
                </td>
                <td width="450px">
                    <a href="http://eu.battle.net/fr/int?r=hearthstone">
                        <img src="http://blogs-images.forbes.com/insertcoin/files/2014/12/hearthstone1.jpg"
                             class="img-responsive img-rounded" alt="Hearthstone">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <h1>Smite <span class="label label-info">En Developpement</span></h1> </br>
                    <p>SMITE est un jeu vidéo d'arène de bataille en ligne multijoueur en vue à la troisième
                        personne
                        où les joueurs incarnent des divinités. Développé par Hi-Rez Studios, le jeu est sorti le 25
                        mars 2014. Le jeu applique un modèle économique free to play</p>
                    <blockquote>
                        <footer>Hi-Rez Studios <cite title="Source Title">Wikipédia</cite></footer>
                    </blockquote>
                </td>
                <td width="450px">
                    <a href="http://www.smitefrance.fr/">
                        <img src="http://www.coup-critique.fr/medias/images/smite.jpg"
                             class="img-responsive img-rounded" alt="Smite">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <h1>StarCraft 2 <span class="label label-default">On reflechi...</span>
                    </h1> </br>
                    <p>StarCraft 2 est un jeu vidéo de stratégie en temps réel développé par Blizzard
                        Entertainment. La première partie du jeu appelée StarCraft 2: Wings of Liberty sort le
                        27
                        juillet 2010 sur PC et MAC
                    </p>
                    <blockquote>
                        <footer>Blizzard <cite title="Source Title">Wikipédia</cite></footer>
                    </blockquote>
                </td>
                <td width="450px">
                    <a href="http://eu.battle.net/sc2/fr/">
                        <img src="http://img0.gm.gtsstatic.com/wallpapers/0e0315c6546e34748b23f67dc801c9ae_large.jpeg"
                             class="img-responsive img-rounded" alt="StarCraft 2">
                    </a>
                </td>
            </tr>
        </table>
    </div>

{% endblock %}