{% extends "TimelineBundle::layout.html.twig" %}

{% block body %}

    {% block content_header %}
    {% endblock %}
    <div class="block">
        {% block content %}
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
                    type="text/javascript"></script>
            <script src="../js/timeline.js" type="text/javascript"></script>


            {#https://upload.wikimedia.org/wikipedia/en/7/77/League_of_Legends_logo.png
            http://cooldown.fr/wp-content/uploads/2014/03/Heroes-of-the-storm-1.png#}
            {% if AllData is not empty %}
            <ul class="nav nav-pills">
                <li class="active" id="allGames"><a data-toggle="tab"  href="#" onclick="affichageLignes(null,null)">Toute les parties</a></li>
                <li id="LoLGames"><a data-toggle="tab"  href="#" onclick="affichageLignes('LoL','Hots')">League of Legends</a></li>
                <li id="HotsGames"><a data-toggle="tab"  href="#" onclick="affichageLignes('Hots','LoL')">Heroes of the Storm</a></li>
            </ul>
                {% for data in AllData %}

                    {% if data.Game == 1 %}
                        <div id="LoL{{loop.index0}}">
                        {% include "TimelineBundle:Default:Lol.html.twig" %}
                        </div>
                    {% else %}
                        <div id="Hots{{loop.index0}}">
                        {% include "TimelineBundle:Default:Hots.html.twig" %}
                        </div>
                    {% endif %}

                {% endfor %}
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
