{% extends "TimelineBundle::layout.html.twig" %}


{% block body %}
    <div class="block">
        <table class="table table-bordered table-striped">
            <tr class="blog-title">
                <th colspan=2>Mes informations</th>
            </tr>
            <tr>
                <td>id utilisateur :</td>
                <td>{{ user.id_user }}</td>
            </tr>
            <tr>
                <td>name :</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>email :</td>
                <td>{{ user.email }}</td>
            </tr>
        </table>
    </div>
{% endblock %}